* {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	font-size: 14px;
  }
  
  .container {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  }
   
  section h2 {
	font-size: 3em;
	display: block;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5em;
  }
  
  table {
	width: 100%;
	margin-bottom: 0.5em;
	table-layout: fixed;
  }
  
  td,
  th {
	padding: 0.7em;
	text-align: center;
  }
  
  th {
	background-color: #eee;
  }

  .imagens-bolsas{
    width: 60px;
    }
  
  label {
	color: #555;
	display: block;
	margin-bottom: 0.2em;
  }
  
  .campo {
	border: 1px solid #ccc;
	padding: 0.7em;
	width: 100%;
  }